<div data-options="dxView : { name: 'searchRide', title: 'SEARCH RIDE'} " >
    
    <div data-bind="dxTabs:{dataSource: tabs, itemClickAction: tabClicked}"></div>
    <br />
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'Source' }"></div><br />    
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'Destination' }"></div><br />
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'Shift Timings' }"></div>
    <div class="button" data-bind="dxButton: { text: 'Search Ride',width:'60%', clickAction: '#availableRides' }"></div>

</div>