<div data-options="dxView : { name: 'sendRequest', title: 'SELECTED RIDE FOR APPROVAL'} " >
    <br /><br/>    
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'Vehicle Number' }"></div><br />    
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'No. of Seats' }"></div><br />
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'Car Model' }"></div><br />
    <div class="textBox" data-bind=" dxTextBox: { placeholder: 'Shift Timing' }"></div><br />
    <div class="button" data-bind="dxButton: { text: 'Send For Approval',width:'60%' }"></div>
</div>